<div class="card-container">
  {{#each model as |user|}}
    <article class="name">
      <h1>{{#link-to "users.user" user.id}}{{user.name}}{{/link-to}}</h1>
      <div class="color">
        <span style="color:{{user.favoriteColorCode}};">Favorite Color: {{user.favoriteColor}}</span>
      </div>
      <div class="connections">
        <h4>Friends:</h4>
        <ul class="list-group-item">
        {{#each user.connections as |connection|}}
            <li>
              {{#if (equality-checker user.id connection.big.id)}}
                {{#link-to "users.user" connection.small.id}}{{connection.small.name}}{{/link-to}}
              {{else}}
                {{#link-to "users.user" connection.big.id}}{{connection.big.name}}{{/link-to}}
              {{/if}}
            </li>
        {{/each}}
        </ul>
      </div>
    </article>
  {{/each}}
</div>
